$primary: #aa3939;
$secondary: #aa6c39;
$tertiary: #882d61;
$border: #dddddd;
$selected: #2d882d;

@import "../../thirdparty/bootstrap-3.3.1-dist/sass/_bootstrap";

@import "mixins";

@import "../resOption/_resOption";
