<div class="container" class="tabpanel">
	<nav-bar></nav-bar>

	<div class="tab-content">
		<div class="panel panel-default tab-pane active fade in" role="tabpanel" id="select">
			<div class="panel-heading">Players</div>
			<div class="panel-body text-center">
				<player-count></player-count>
			</div>
			<div class="panel-heading">Options</div>
			<div class="panel-body">
				<options-list></options-list>
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="setup">
			<res-setup></res-setup>
		</div>
	</div>
</div>
