<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Players</div>
		<div class="panel-body text-center">
			<div class="btn-group" role="group" aria-label="..." data-toggle="buttons">
				<label class="btn btn-default">
					5 <input type="radio" autocomplete="off" name="playerCount" id="playerCount5">
				</label>
				<label class="btn btn-default">
					6 <input type="radio" autocomplete="off" name="playerCount" id="playerCount6">
				</label>
				<label class="btn btn-default active">
					7 <input type="radio" autocomplete="off" name="playerCount" id="playerCount7" checked>
				</label>
				<label class="btn btn-default">
					8 <input type="radio" autocomplete="off" name="playerCount" id="playerCount8">
				</label>
				<label class="btn btn-default">
					9 <input type="radio" autocomplete="off" name="playerCount" id="playerCount9">
				</label>
				<label class="btn btn-default">
					10 <input type="radio" autocomplete="off" name="playerCount" id="playerCount10">
				</label>
			</div>
		</div>
		<div class="panel-heading">Options</div>
		<div class="panel-body">
			<options-list></options-list>
		</div>
	</div>
</div>