<div class="panel panel-default">
	<div class="panel-heading" ng-if="canSpeak">{{ "UI_NARRATION" | translate }}</div>
	<div class="panel-body" ng-if="canSpeak">
		<div class="voice-controls">
			<button type="button" class="btn btn-default" ng-click="speakScript()">{{ "UI_READ_SCRIPT" | translate }}</button>
			<select
				ng-model="voiceParams.selectedVoice"
				ng-options="voice.name for voice in voices"
			>
			</select>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-click="changeRate(-0.2)">{{ "UI_SLOWER" | translate }}</button>
				<button type="button" class="btn btn-default disabled">{{ "UI_SPEED" | translate }}: {{ voiceParams.rate }}</button>
				<button type="button" class="btn btn-default" ng-click="changeRate(0.2)">{{ "UI_FASTER" | translate }}</button>
			</div>
		</div>
		<p> {{ "UI_VOICE_DISCLAIMER" | translate }} </p>
	</div>
	<div class="panel-heading">{{ "UI_SCRIPT" | translate }}</div>
	<div class="panel-body">

		<p ng-repeat="section in getScript()">
			<span ng-repeat="line in section"> {{ line.text }} </span>
		</p>
	</div>
</div>
