.option {
	border-top: 0;
	border: 1px solid $border;
	color: #eee;
	padding: 10px 15px;

	&__primary {
		@include colors($primary);
		border-top: 1px solid $border;
		margin-top: 5px;
		border-radius: 10px 10px 0 0;
	}
	&__secondary {
		@include colors($secondary);
	}
	&__tertiary {
		@include colors($tertiary);
	}
}
