<div class="panel panel-default">
	<div class="panel-heading">{{ "UI_ROLES" | translate }}</div>
	<div class="panel-body">
		<div
			ng-repeat="side in sides"
			class="role-list"
			ng-class="side.className"
		>
			<span class="role-list--name">
				{{ side.name | translate }}
			</span>
			<ul>
				<li ng-repeat="role in game.things.roles[side.key]">
					{{ role | translateAll }}
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-heading" ng-if="showCards()">{{ "UI_CARDS" | translate }}</div>
	<div class="panel-body" ng-if="showCards()">
		<div
			ng-repeat="(deckName, cards) in game.things.decks"
			class="card-list"
		>
			<span class="deck-list--name">{{ deckName | translate }}</span>
			<ul>
				<li ng-repeat="card in cards">
					{{ card | translate }}
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-heading" ng-if="game.things.tokens.length">{{ "UI_TOKENS" | translate }}</div>
	<div class="panel-body" ng-if="game.things.tokens.length">
		<ul>
			<li ng-repeat="token in game.things.tokens">
				{{ token | translate }}
			</li>
		</ul>
	</div>
	<div class="panel-heading" ng-if="game.things.rules.length">{{ "UI_RULES" | translate }}</div>
	<div class="panel-body" ng-if="game.things.rules.length">
		<ul>
			<li ng-repeat="rule in game.things.rules">
				{{ rule | translate }}
			</li>
		</ul>
	</div>
	<div class="panel-heading" ng-if="game.things.other.length">{{ "UI_OTHER" | translate }}</div>
	<div class="panel-body" ng-if="game.things.other.length">
		<ul>
			<li ng-repeat="other in game.things.other">
				{{ other | translate }}
			</li>
		</ul>
	</div>
</div>
